@inherits LayoutComponentBase

<div class="d-flex flex-column align-items-center justify-content-between vh-100">
    <div class="w-100">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4 w-100 mt-5">
            @Body
        </article>
    </main>

    <footer class="footer"></footer>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>