<div class="top-row navbar navbar-dark w-100">
    <div class="d-flex justify-content-center align-items-center w-100">
        <img src="./assets/smart_hint_logo.png" alt="Logo Smart Hint" />
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />